<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex's Blog</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="icon" href="../assets/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;500;700&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/" class="logo-link"><div class="logo">Alex's Blog</div></a>
        <nav>
            <ul class="horizontal-list">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="bar"></div>
    </header>
    <main>
        <div class="page-title">Posts.</div>
        <div class="post-list-header">I like writing about all sorts of things.</div>
        <div class="post-list-body">
            <ul class="post-list"> 
                ||post-list||
                <li><a href="https://alikiki.github.io/2023/02/21/research-page/">A Page From My Research Journal</a> (old site)</li>
                <li><a href="https://alikiki.github.io/2023/02/20/deep-learning/">Deep Learning Optimization Glossary</a> (old site)</li>
                <li><a href="https://alikiki.github.io/2022/02/25/contradictions/">Paradoxical Thinking</a> (old site)</li>
                <li><a href="https://alikiki.github.io/2021/12/24/2021letter/">2021 in Review</a> (old site)</li>
                <li><a href="https://alikiki.github.io/2021/06/30/news/">Today in News</a> (old site)</li>
                <li><a href="https://alikiki.github.io/2021/01/03/fingerprint/">Audio Fingerprinting</a> (old site)</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>Built with <a href="https://github.com/alikiki/electric">Electric</a>. Deployed on <a href="https://vercel.com/">Vercel</a>.</p>
    </footer>
</body>
</html>
