<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex's Blog</title>
    <link rel="stylesheet" href="../../index.css">
    <link rel="icon" href="../../assets/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;500;700&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <header>
        <a href="/" class="logo-link"><div class="logo">Alex's Blog</div></a>
        <nav>
            <ul class="horizontal-list">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="post">
            <div class="post-header">
                ||head||
            </div>

            <div class="post-content">
                ||body||
            </div>
        </div>
    </main>
    <footer>
        <p>Built with <a href="https://github.com/alikiki/electric">Electric</a>. Deployed on <a href="https://vercel.com/">Vercel</a>.</p>
    </footer>
</body>
</html>
